@import url('https://fonts.googleapis.com/css?family=Roboto|Solway&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url("imgs/wallpaper2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;

}

header {

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 120px;
  background-color: transparent;
  top: 10px;
  left: 20px;

}

img {

  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

}

h1 {

  color: white;
  text-align: center;
  align-items: center;

}

#notifAjoutPanier {

  position: fixed;
  opacity: 0;
  bottom: 30px;
  right: 0px;
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 2px 0px 0 2px;
  box-shadow: 0px 5px 0px 0px #27ae60;
  background-color: #2ecc71;
  color: white;
  text-align: center;
  transition: all 0.2s linear;

}
